body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}
.grader300 {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 25px;
    border: 1px solid #999;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.title h2 {
    margin-top: 0;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}


.layout {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: flex-start;
}

.homw {
    flex: 1;
    border: 1px solid #333;
}

.right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-tables {
    display: flex;
    gap: 20px;
}

.exm, .atdnc {
    flex: 1;
    border: 1px solid #333;
}

.row {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.row:last-child {
    border-bottom: none;
}

.row span, .row input {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: none;
}

.header {
    background-color: #171616;
    font-weight: bold;
    border-bottom: 2px solid #333;
    color: white;
}

.grade-row {
    background-color: #ffffff;
    font-weight: bold;
}


input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    background: transparent;
}

.negative {
    background-color: #ff4d4d !important;
    color: white;
}

.ignored {
    background-color: rgba(255, 77, 77, 0.56);
    opacity: 0.7;
}

.f-grd {
    border: 1px solid #333;
    padding: 20px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.pass-box {
    background-color: #7fdbb6;
}

.fail-box {
    background-color: #ff4d4d;
    color: white;
}

#final-grade-input h2 {
    margin: 0;
    font-size: 2.5em;
}

.notes {
    display: flex;
    flex-direction: column;
}

#student-notes {
    width: auto;
    height: 65px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.info {
    display: flex;
    justify-content: space-between;
    background: #e9e9e9;
    padding: 15px;
    font-size: 0.85em;
    line-height: 1.4;
    border: 1px solid #ccc;
}

.rules-text {
    flex: 2;
}

#final-grade-input h2 {
    font-size: 3em;
    margin: 0;
}